header {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/739407/pexels-photo-739407.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content:left;
}
.header-content {
    text-align: left;
}
.header-content h2 {
    font-size: 4vmin;
}
 .header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
 } 

.title {
     
     text-align: center;
     font-size: 4vmin;
     background-image: linear-gradient(90deg,#d4a373,#d5bdaf,#dda15e,#bc6c25,#48cae4,#8d99ae,#9ef01a);
     box-shadow: 10px 10px 20px black;
}

#a{grid-area: a1;}
#b{grid-area: b1;}
#c{grid-area: c1;}
#d{grid-area: d1;}
#e{grid-area: e1;}

#maindiv{
    display: flex;
    grid-template-areas: 'a1 a1 a1 a1 a1 a1'
    'b1 b1 b1 c1 c1 c1'
    'd1 d1 d1 e1 e1 e1';
    flex-direction: column;
    color: white;
    background-image: linear-gradient(10deg);
    text-align: left;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 15px black,-10px -10px 15px black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    text-align:center;
}
#maindiv > div{
    background-color:darkgrey;
    /*grid-gap:20px; */
    padding: 20px;
    margin: 20px;
    border-radius: 20px;

 }

 footer{
    left: 0px;
    bottom: 20px;
    position: fixed;
    color: white;
    background-image: linear-gradient(90deg,#d4a373,#d5bdaf,#dda15e,#bc6c25,#48cae4,#8d99ae,#9ef01a);
    /*height: 200px; */
    width:100%;
    text-align: center;
    font-size: 45px;
    box-shadow: 10px 10px 20px black; 
}
     
 